/* ~/.config/waybar/style.css */

/* General bar appearance */
* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 10pt;
    color: #cad3f5; /* Catppuccin text color */
    background-color: #1e1e2e; /* dark background */
}

#waybar {
    /* background: rgba(30, 30, 46, 0.35);  transparent Catppuccin-base */
    /* backdrop-filter: blur(6px); */ /* optional frosted effect */
    /* border-radius: 10px; */
    /* padding-right: 10px;  nice right spacing */
}

window#waybar {
  background: transparent;
}

/* Workspace buttons (currently doesn't change based on current workspace) */
#hyprland_workspaces button {
    padding: 0 8px;
    margin: 0 2px;
    border-radius: 4px;
    border: none;
    background-color: #313244;
    color: #cad3f5;
    font-weight: bold;
}

#hyprland_workspaces button.active {
    background-color: #f5c2e7;
    color: #1e1e2e;
    font-weight: bolder;
    border: 1px solid #f5c2e7;
}

#hyprland_workspaces button:hover {
    background-color: #45475a;
}

/* Clock */
#clock {
    font-weight: bold;
    color: #f8bd96;
}

/* Right-side modules */
#battery, #pulseaudio {
    margin-left: 10px;
    padding: 0 6px;
    border-radius: 4px;
    background-color: #313244;
}

#waybar .right > * {
    margin-left: 8px;
    margin-right: 8px;
}

#custom_powermenu {
    min-width: 32px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    background-color: #313244;
}
